<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
	@font-face {
		font-family: IRMitra;
		font-weight: normal;
		src: url('http://www.sobhe.ir/moratab/style/IRMitra.woff') format('woff');
	}
	@font-face {
		font-family: IRMitra;
		font-weight: normal;
		src: url('http://www.sobhe.ir/moratab/style/IRMitraBd.woff') format('woff');
	}
	@font-face {
		font-family: IRMitra;
		font-weight: normal;
		src: url('http://www.sobhe.ir/moratab/style/BMitra.woff') format('woff');
	}
	</style>
	<link type="text/css" rel="stylesheet" href="http://www.sobhe.ir/moratab/style/main.css">
</head>

<body>
	<div class="content">
	{{ content|safe }}
	</div>

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
	<script type="text/javascript">
		Array.prototype.forEach.call(document.getElementsByClassName('math'), function(el) {
			katex.render(el.textContent, el);
		});
	</script>
</body>
</html>
